---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
    <span class="post-date">
    <img class="img-icon" src="/public/site_images/iconmonstr-calendar-5-icon.svg" alt="calendar" />{{ post.date | date_to_string }}
    <img class="img-icon" src="/public/site_images/iconmonstr-user-icon.svg" alt="author" >{{ post.author }}
    <img class="img-icon" src="/public/site_images/iconmonstr-tags-3-icon.svg" alt="tags" />{% for categories in post.categories %} <a href="/tags#{{ categories }}">{{ categories }}</a> {% if forloop.last != true %} {% endif %} {% endfor %}
    <img class="img-icon" src="/public/site_images/iconmonstr-speech-bubble-14-icon.svg" alt="comments"/><a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}"></a>
</span>


      {{ post.content | split: '<!-- more -->' | first }}
      <HR>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.next_page %}
    <a href="/page{{paginator.next_page}}" class="older">Older</a>
  {% else %}
    <span class="next">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a href="/" class="newer">Newer</a>
    {% else %}
      <a href="/page{{paginator.previous_page}}" class="newer">Newer</a>
    {% endif %}
  {% else %}
    <span class="previous">Newer</span>
  {% endif %}
</div>
